@{


}
<h1>My Cheese</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>

}

<dl>
    @foreach (CheeseMVC.Models.Cheese cheese in ViewBag.cheeses){
        <dt>@cheese.Name</dt>
            <dd>@cheese.Desc</dd>
    }
    

</dl>
